body {
	background:#F2F9FF;
	color:#666;
	font-family:Arial;
}
a {
	color:#f80;
	text-decoration:none;
}
a:hover {
	color:#635f94;
	text-decoration:underline;
}
h1, h2, h3, h4 {
	text-transform: capitalize;
	white-space:nowrap;
	margin: 0 0 .25em 0;
}
h4 {
	color: #A1A8AD;
}
#desc {
	float: left;
	margin-bottom: 1em;
	position: relative;
	white-space:nowrap;
	font-size:1em;
}
.box {
	float: left;
	min-width: 200px;
	margin-right: 20px;
	background: #fff;
	padding:8px;
	border:2px solid #c5cdd4;
	border-radius:.6em;

	box-shadow: 0 0 16px rgba(100,100,100,0.2);
}
.screenshot {
	margin: 20px;
	float: left;
	clear: both;
	background: #fff;
	box-shadow: 0 0 10px rgba(120,120,120,0.2);	
	padding: 8px;	
}
ul {
	font-size:.85em;
	margin:0;
	padding:0;
}
li {
	margin:0 0 2px 18px;
}
#copy {
	position:fixed;
	z-index:1000;
	right:150px;
	top:-8px;
	font-size:.85em;
	padding:8px 8px 2px 8px;
	background: #eee;
	border: 2px solid #bbb;		
	border-radius:.7em;
	opacity: 0.9;
	box-shadow:0 0 8px #aaa;
	font-weight: bold;
	color:#bbb;
}
#copy a {
	color:#888;
	text-decoration:none
}
#copy a:hover {
	color:#f80
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	filter: alpha(opacity=80);
	-khtml-opacity: .8;
	-moz-opacity: .8;
	opacity: .8;		
}

#map {
	width:800px;
	height:400px;
}